<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #f="ngForm">
	<mat-form-field appearance="outline" class="w-100">
		<mat-label>Email</mat-label>
		<input type="email" matInput formControlName="email" placeholder="me@gmail.com">
	</mat-form-field>

	<mat-form-field appearance="outline" class="w-100">
		<mat-label>Note</mat-label>
		<textarea [cdkTextareaAutosize]="true" matInput formControlName="note" placeholder="Very good!"></textarea>
	</mat-form-field>

	<mat-form-field appearance="outline" class="w-100">
		<mat-label>Choose a star</mat-label>
		<mat-select formControlName="star">
		  <mat-option value="1">1</mat-option>
		  <mat-option value="2">2</mat-option>
		  <mat-option value="3">3</mat-option>
		  <mat-option value="4">4</mat-option>
		  <mat-option value="5">5</mat-option>
		</mat-select>
	  </mat-form-field>

	<button type="submit" mat-raised-button color="primary" [disabled]="formGroup.invalid" class="px-4">
		Send
	</button>
</form>